<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 自动扫描该包-->
	<context:component-scan base-package="com.zhangnx.*.controller" />
    <context:component-scan base-package="com.zhangnx.*.service" />


    <context:component-scan base-package="security" />


    <!-- 定义跳转的文件的前后缀 ，视图模式配置-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/" />
        <property name="suffix" value=".html" />
    </bean>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8" />
                <!-- 避免出现乱码 -->
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <!--解决IE浏览器json文件下载和json数据中午乱码的问题-->
            <bean id="mappingJackson2HttpMessageConverter"
                  class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <context:annotation-config />

	
	<!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->
	<bean id="multipartResolver"  
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="utf-8" />
        <property name="maxUploadSize" value="10485760000" />
        <property name="maxInMemorySize" value="40960" />
    </bean>


    <!-- 静态资源处理 -->
    <mvc:resources location="/images/" mapping="/images/**"/>
    <mvc:resources location="/angilarJS/" mapping="/angilarJS/**"/>
	<mvc:resources location="/bootstrap/" mapping="/bootstrap/**"/>
	<mvc:resources location="/easyui/" mapping="/easyui/**"/>
	<mvc:resources location="/echarts/" mapping="/echarts/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/layui/" mapping="/layui/**"/>
	<mvc:resources location="/vueJS/" mapping="/vueJS/**"/>
	<mvc:resources location="/css/" mapping="/css/**"/>
</beans> 